{% extends "quoter/structure.html" %}
{% block content %}
        <div class="well well-sm">Logged as {{ user.username }} || Current folder : {{ current_folder_name }} || <a href="/logout">Logout</a></div>
        <div class="col-md-2" role="navigation" id="main-menu-container">
        </div>
        <!-- Content -->
        <div class="col-md-8" id="quoterForms">
        </div>
    </div>
    <script>
        $(document).ready(function() {
            buildQuoter({{ folders }}, {{ tags }});
        });
    </script>
{% endblock %}
